body {
  background-color: #F5F5F5;
}

.boxed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.headshot {
  width:200px;
  height:200px;
  overflow: hidden;
}
  
