body {
  background-color: #F5F5F5;
}

.boxed {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  padding: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px 5px grey;
  text-align: center;
}

img {
    max-width: 100%;
}

.headshot {
  height:300px;
  overflow: hidden;
}
  
li {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 20px;
}
