body {
  background-color: #F5F5F5;
}

.boxed {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  background-color: #FFFFFF;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
}

img {
    max-width: 100%;
}

.headshot {
  height:300px;
  overflow: hidden;
}
  
